<div class="list-inline-item" id="elementolistanotas">
    <div class="col-12" id="noticia-enlistada">
        <div class="card h-100">
            <div id="content-seccion">
                <div class="card-header">
                   <img style="width: 100%;" id="imgseccionlista" src="/img/noticias-imagenes/{{id_noticia}}/{{img0}}"
                    class="card-img-top" alt="...">
                </div>
                <div id="nota" class="card-body">
                    <h5 id="titulo-inicio-lista" class="card-title">
                        <a href="/noticias/{{id_noticia}}">{{titulo}}</a>
                    </h5> 
                    <p class="card-text">{{contenido}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Publicado {{fecha}} {{hora}}</small>
                </div>
            </div>
        </div>
    </div>
</div>