{{navigation}}
<div class="wrapper">
  {{>sidebarAdmin}}
  <div class="main_content">
    <div class="container">
      <h1>{{data.titulo}}</h1>
    </div>
    <div class="container">
      <h3>{{data.titulo}}</h3>
      <img src="/img/noticias-imagenes/{{data.id_noticia}}/{{data.img0}}">

      <p>{{data.contenido}}</p>

      <h5> AUTOR: {{data.username}} {{data.userlasts}}</h5>
       <h5>FUENTE: <a href="http://{{data.link}}"> {{data.fuente}}</a></h5>
      <a class="btn btn-success btn-sm" href="/admin/{{data.id_noticia}}/1"
        title="Aceptar noticia">Aceptar</a>
      <a class="btn btn-danger btn-sm" href="/admin/{{data.id_noticia}}/0">Rechazar</a>
    </div>
    <hr>
  </div>
</div>