{{> navigation}}
{{#if data}}
<div class="main_content" id="noticia_content" border-width="5px">
    <div class="container">
        <h3 id="titulonota">{{data.titulo}}</h3>
    </div>

    <div id="myCarousel" class="container" style="width: 55%; height:55%">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/noticias-imagenes/{{data.id_noticia}}/{{data.img0}}" class="d-block w-100"
                        alt="Imagen 1...">
                </div>
                <div class="carousel-item">
                    <img src="/img/noticias-imagenes/{{data.id_noticia}}/{{data.img1}}" class="d-block w-100"
                        alt="Imagen 2...">
                </div>
                <div class="carousel-item">
                    <img src="/img/noticias-imagenes/{{data.id_noticia}}/{{data.img2}}" class="d-block w-100"
                        alt="Imagen 3...">
                </div>
                <div class="carousel-item">
                    <img src="/img/noticias-imagenes/{{data.id_noticia}}/{{data.img3}}" class="d-block w-100"
                        alt="Imagen 4...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="main_content" id="noticia_content">
        <div class="row">
        <div class="col"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <table>
                                <tr>
                                    <td><p id="notacontent"><strong>Fuente: </strong> <a id="notacontent" href="http://{{data.link}}">{{data.fuente}}</a></td>
                                </tr>
                                <tr>
                                    <td><p id="notacontent"><strong>Publicado:</strong> {{data.fecha}}</p></td>
                                </tr>
                                
                            </table>                            
                        </div>
                        <div class="col"></div>
                        <div class="col" id="autorarea">
                            <table>                                    
                                <tr>
                                    <td><p id="notacontent"><strong>Autor UEL:</strong> {{data.username}} {{data.userlasts}} <img src='/img/fotoperfil.jpg' id="fotoautornota"></p></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container" >
                        <p id="notacontent">{{data.contenido}}</p>
                        <br>
                        <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col text-end">
                            <h5 id="textoautor">Autor Original: {{data.autor}}</h5>
                        </div>
                    </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col"></div>
        </div>
  </div>
</div>
{{/if}}
{{> footer}}