{{> sidebar}}
<header>
  <div class="container-fluid">
    <h1 id="elementos-izquierda"><img src="/img/logounion.png"> | Registro de Noticia nueva</h1>
  </div>
</header>
<div class="wrapper">   
    <div class="main_content">
        <div class="container">
            <div class="card bg-light">
                <div class="card-header bg-dark text-white" text="titulo"> Todos los campos son requeridos.</div>
                <form id="formnoti" action="/user/crearnoticia" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="container">
                            <div class="mb-3">
                                <div class="form-group row">
                                    <label class="form-label col-md-1" for="Titulo">Titulo:</label>
                                    <input type="text" class="form-control form-control-sm col-md" id="titulo"
                                        name="titulo" placeholder="titulo noticia">
                                    <small></small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group row">
                                    <label class="form-label col-md-2" for="contenido">Contenido:</label>
                                    <textarea class="form-control col-md" placeholder="Conenido de noticia..." name="contenido" id="floatingTextarea2"
                                        rows="6"></textarea>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group row">
                                    <input value="Borrador" class="form-control form-control-sm col-md" id="estado"
                                        name="estado" autocomplete="off" type="hidden" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group row">
                                    <label class="form-label col-md-2" for="Etiqueta">Categoria:</label>
                                    <select class="form-control form-control-sm col-md" name="etiqueta" id="Etiqueta">
                                        {{#each tag}}
                                        <option value={{id}}>{{nombre}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group row">
                                    <label class="form-label col-md-1">Autor Original:</label>
                                    <input type="text" class="form-constrol-sm col-md-1" name="autor" id="autor" placeholder="Nombre completo del autor original...">
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-group row">
                                    <div class="col">
                                        <label class="form-label col-md-2">Fuentes:</label>
                                    </div>
                                    <div class="col">
                                        <input name="fuente" list="fuentes" id="exampleDataList" />
                                        <datalist id="fuentes">
                                            {{#each fuentes}}
                                            <option value={{id_fuente}}>{{nombre}}
                                            {{/each}}
                                        </datalist>
                                    </div>                                    
                                    <div class="col">
                                        <input name="link" list="links" id="exampleDataList" />
                                        <datalist id="links">
                                            {{#each fuentes}}
                                            <option  value={{link}}>{{link}}
                                            {{/each}}
                                        </datalist>                                                                
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div text="recordatorio"></div>
                                <ul>
                                    <li><label class="col-md-2" for="file">Imágenes</label>
                                        <input type="file" multiple name="newsImages" class="form-control form-control-sm col-md-6"
                                            id="file" accept="image/png, image/jpeg" />
                                        <p id="error_file"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark">
                        <div class="mb-3">
                            <!--input type="submit" class="btn btn-primary btn-sm text-center" text="Guardar"-->
                            <button id="btnsubmit" class="btn btn-primary btn-sm text-center" type='submit'>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
